---
layout: default
title: Work
---
<h1>Work</h1>
<p>
    I divided my projects into two categories: projects and experiments.
</p>

<p>
    Projects are supposed to be maintained and continuously improved.
    By contrast, experiments are a proof of concept or just for fun.
</p>

<h2>Projects</h2>
<ul class="work-list projects">
{% for project in site.categories['projects'] %}
{% if project.type == "project" %}
<li class="{{project.status | replace:' ','_'}}">
<a  href="{{project.url}}">{{project.title}}</a> <span class="initiation">{{project.initiation}}</span>
</li>
{% endif %}
{% endfor %}
</ul>


<h2>Experiments</h2>
<ul class="work-list experiments">
{% for project in site.categories['projects'] %}
{% if project.type == "experiment" %}
<li>
<a href="{{project.url}}">{{project.title}}</a> <span class="initiation">{{project.initiation}}</span>
</li>
{% endif %}
{% endfor %}
</ul>
