
RewriteEngine on
AddHandler application/x-httpd-php55 .php

RewriteCond %{HTTPS} =off
RewriteRule ^ https://%{REQUEST_URI} [QSA,L,R=301]


RewriteCond %{HTTP_HOST} ^raphael.li [NC]
RewriteRule ^(.*)$ https://www.raphael.li/$1 [L,R=301,NC]

RedirectMatch 301 ^/raphael.li/resources/(.*) /tips/$1

# Redirect 404
ErrorDocument 404 /404/
